:root {
    --dark: #212121;
    --white: #ccc;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: linear-gradient(#333, var(--dark));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#fff, var(--white));
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
}

input {
    margin: 1rem;
    padding: 0.2rem;
    border-radius: 5px;
    text-align: center;
}