@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

:root {
    --dark: #212121;
    --light: #fff;
    --white: #eee;
    --warning: #E31937;
    --main-color: #80C457;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend';
}

body {
    background-color: var(--white);
    width: 100vw;
    height: 100vh;
}

/* form {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#fff, var(--white));
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
}

input {
    margin: 1rem;
    padding: 0.2rem;
    border-radius: 5px;
    text-align: center;
} */

p,
a {
    padding: .5rem;
}


/* Styles Menu */
/* Menu Header */

.menu {
    overflow-x: hidden;
}

.menu header {
    background-color: var(--light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    width: 100vw;
}

.menu header nav {
    margin-right: 1rem;
}

.menu header div {
    display: flex;
    align-items: center;
}

.menu header svg {
    margin-right: 1rem;
}

.menu header div svg {
    margin-left: 2rem;
}

.menu header nav ul {
    display: flex;
    list-style: none;
}

.menu header nav ul li a {
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
    color: var(--dark);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.menu header nav ul li a:hover {
    background-color: var(--white);
}

.menu header nav #active {
    /* Hay que configurar mediante JavaScript la id #active */
    background-color: var(--white);
    font-weight: bold;
}

.menu #basket {
    /* #basket hace referencía al carrito de la compra */
    background-color: var(--main-color);
    color: var(--light);
}

.menu #basket:hover {
    background-color: green;
}

.menu #notify {
    /* #notify hace referencia al número de notificaciones o items del carrito (Cambiar valor mediante una variable de php) */
    background-color: var(--warning);
    border-radius: 10px;
    padding: .25rem .5rem;
    margin-left: 1rem;
    border: solid 1px var(--warning);
}

/* Menu Main */

.menu main {
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

.menu main h1,
.menu main h2 {
    margin: 1rem;
}

.menu main section>div {
    background-color: var(--light);
    width: 20vw;
    border-radius: 10px;
    cursor: pointer;
    border: solid .5rem var(--light);
}

.menu main section>div:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.menu main div img {
    height: 15vw;
}

.menu main div p {
    color: var(--main-color);
    border-radius: 5px;
    padding: .5rem 1rem;
    margin: 1rem;
}

.menu main div p:last-of-type {
    background-color: var(--main-color);
    color: var(--white);
}

.menu main div p:last-of-type:hover {
    background-color: green;
}

.menu main section {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.menu main section div div {
    display: flex;
    justify-content: center;
}

.menu::-webkit-scrollbar {
    visibility: hidden;
    width: 1px;
}

/* .menu main form {
    display: inline;
} */

/* Filter */
#filter {
    background: var(--white);
    padding: 1.5rem;
    margin: 2rem;
}

#filter label {
    display: inline-block;
    padding: .5rem 1rem;
    margin: .5rem;
    border: solid 2px var(--dark);
    color: var(--dark);
    background-color: var(--light);
    border-radius: .5rem;
    width: 5cm;
}

#filter label:has(input[type="radio"]:checked) {
    border: solid 3px var(--main-color);
    color: var(--main-color);
    font-weight: bold;
}

#filter input[type="radio"] {
    display: none;
}

#filter input[type="submit"] {
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--dark);
    border: solid 2px var(--dark);
    color: var(--white);
}